* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1276px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 95%;
  margin-top: 10%;
}

.course {
  border-radius: 10px;
  width: 30%;
  padding: 20px 50px;
  background-color: white;
  box-shadow: inset 1px 0px 13px rgb(52, 50, 50);
}

.image {
  width: 90%;
}

.image img {
  width: 100%;
}